*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
    font-family: 'Times New Roman', Times, serif;
}
body, html{
    overflow-x: hidden;
}
.menu{
    background-color: black;
    position: fixed;
    overflow: hidden;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    width: 70px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transform: translateZ(0) scale(1,1);
    transform: translateZ(0) scale(1,1);
}
.menu > ul{
    margin: 5px 0;
}
.menu li{
    position: relative;
    display: block;
    width: 250px;
}
.menu li > a{
    position: relative;
    width: 255px;
    color: aliceblue;
    display: table;
    font-size: 16px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1,1);
    transform: translateZ(0) scale(1,1);
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
.menu .span-menu{
   position: relative;
   display: table-cell; 
   vertical-align: middle;
   width: 180px;
}
.lista{
    background-color: black;
    text-transform: capitalize;
}
.lista-logo{
    background-color: blue;
    text-transform: capitalize;
}
.menu li:hover a, nav.menu li.active > a{
    color: white;
    background-color: black;
}
nav{
    -webkit-user-select: none;
    user-select: none;
    box-shadow: 0 0 10px #282828;
}
.fab{
    position: relative;
    width: 60px;
    height: 40px;
    text-align: center;
    top: 12px;
}
.fa-solid{
    position: relative;
    width: 60px;
    height: 40px;
    text-align: center;
    top: 12px;
}
.menu:hover, nav.menu.expanded{
    width: 250px;
    overflow: hidden;
}
.kkk{
    background-color: #EDB14A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.logo{
    width: 45%;
    
}
.color{
    background-image:linear-gradient(#EDB14A, #a66948);
}

footer {
    background-color: #a66948;
    color: rgb(255, 255, 255);
    height: 70px;
    margin-top: 0px;
    padding: 70px;
    text-align: center;
    font-size: 16px;
}
.imgfoo{
    width: 66px;
    border-radius: 41%;
    padding: 0px 25px;
}
    
    .fim{
        text-align: center; color: #FFF; line-height: 1.5;
        font-size: larger;
        font-style: oblique;
    }
        .meio{
            display: flex;
            justify-content: center;
        align-items: flex-start;
    }
        .rodatexto{
            margin: 20px 16px 11px 15px;
            color: white;
            font-size: larger;
            font-style: oblique;
        }
        
        .formulario {
            padding: 30px;
            border: 0px solid #ccc;
            background-color: #ab8036;
            color: rgb(168, 210, 238);
        }
        
        .formulario p {
            width: 100%;
            font-size: 1.5em;
            color: white;
        }
        
        .field {
            width: 100%;
            margin: 15px 0;
            color: white;
        }
        
        .field label,
        .field span {
            padding-left: 10px;
            font-size: 1.1em;
            display: block;
            width: 100%;
        }
        
        .radiobox label {
            width: auto;
            display: inline-block;
        }
        
        input[type=text],
        input[type=email],
        textarea {
            width: 100%;
            padding-left: 10px;
            height: 30px;
            line-height: 30px;
            border-radius: 15px;
            border: 1px solid #000000;
            outline: none;
            background-color: #ab8036;
        }
        
        input#nao {
            margin-left: 30px;
        }
        
        textarea {
            line-height: 20px;
            padding: 10px;
            height: 90px;
            resize: none;
            background-color: #ab8036;
        }
        
        input[type=submit] {
            display: block;
            background-color: #ffffff;
            height: 35px;
            border: none;
            outline: 0;
            cursor: pointer;
            width: 100px;
            margin: 0 auto;
            text-align: center;
            border-radius: 15px;
        }
        
