*{
    margin: 0;
    padding: 0;
}
.kkk{
    background-color: #EDB14A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.logo{
    width: 45%;
    
}
.color{
    background-image:linear-gradient(#EDB14A, #a66948);
}

footer {
    background-color: #a66948;
    color: rgb(255, 255, 255);
    height: 70px;
    margin-top: 0px;
    padding: 70px;
    text-align: center;
    font-size: 16px;
}
.imgfoo{
    width: 66px;
    border-radius: 41%;
    padding: 0px 25px;
}
    
    .fim{
        text-align: center; color: #FFF; line-height: 1.5;
        font-size: larger;
        font-style: oblique;
    }
        .meio{
            display: flex;
            justify-content: center;
        align-items: flex-start;
    }
        .rodatexto{
            margin: 20px 16px 11px 15px;
            color: white;
            font-size: larger;
            font-style: oblique;
        }
        .container {
            display: flex;
            align-items: center;
        }
        
        .lista-menu {
            display: none;
            position: absolute;
            top: 8%;
            width: 0vw;
            background-color: #EDB14A;
        }
        
        .container__botao:checked~.lista-menu {
            display: block;
        }
        
        .container__botao {
            display: none;
        }
        
        .lista-menu a {
            color: rgb(0, 0, 0);
        }
        
        .cabeçalho__menu-hamburguer container__imagem {
            color: white;
        }
        
        .lista-menu__link {
            justify-content: space-between;
            align-items: center;
        }
        .formulario {
            padding: 30px;
            border: 0px solid #ccc;
            background-color: #ab8036;
            color: rgb(168, 210, 238);
        }
        
        .formulario p {
            width: 100%;
            font-size: 1.5em;
            color: white;
        }
        
        .field {
            width: 100%;
            margin: 15px 0;
            color: white;
        }
        
        .field label,
        .field span {
            padding-left: 10px;
            font-size: 1.1em;
            display: block;
            width: 100%;
        }
        
        .radiobox label {
            width: auto;
            display: inline-block;
        }
        
        input[type=text],
        input[type=email],
        textarea {
            width: 100%;
            padding-left: 10px;
            height: 30px;
            line-height: 30px;
            border-radius: 15px;
            border: 1px solid #000000;
            outline: none;
            background-color: #ab8036;
        }
        
        input#nao {
            margin-left: 30px;
        }
        
        textarea {
            line-height: 20px;
            padding: 10px;
            height: 90px;
            resize: none;
            background-color: #ab8036;
        }
        
        input[type=submit] {
            display: block;
            background-color: #ffffff;
            height: 35px;
            border: none;
            outline: 0;
            cursor: pointer;
            width: 100px;
            margin: 0 auto;
            text-align: center;
            border-radius: 15px;
        }
        
